.home{
    width: 100%;
    height: 76vh;
}
.home-btn{
    background-color: rgba(32, 13, 85, 0.993);
    border-radius: 20px;
    color: white !important;
    font-weight: bold;
    margin: 20px;
    padding: 10px 20px;
}